body{
background-image: url(istockphoto-933914672-612x612.jpg);
background-repeat: no-repeat;
    background-size: cover;
}

.login_div1 , .login_div2{
 align-content: center;
    width: 500px;
    background-color:burlywood;
    padding: 8px;
    float:none;
    border-radius: 20px;
    margin: 10px;
    margin-left: 60px;
     box-shadow: 8px 8px 8px rgba(0.2, 0.5, 0.5);
}
button{
    margin: 20px;
}

.div2{
    align-content: center;
    background-color: blanchedalmond;
    width: 800px;
    height: 160px;
    border-radius: 20px;
    box-shadow: 8px 8px 8px rgba(0.2, 0.5, 0.5);
    margin: 20px;
}
.div1{
    background-color:darkorange;
    width: 320px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 8px 8px 8px rgba(0.2, 0.5, 0.5);
    margin: 20px;
    text-align: center;
}